.form {
  margin: 20px auto;        
  display: flex;
  gap: 10px;
  justify-content: center;   
  max-width: 600px;         
}

.input {
  padding: 10px;
  width: 100%;                
  max-width: 250px;           
  border: 1px solid #ccc;
  border-radius: 6px;
}

.button {
  padding: 10px 16px;
  cursor: pointer;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  transition: background 0.3s;
  width: 50%;
}

.button:hover {
  background: #0056b3;
}

@media (max-width: 768px) {
  .form {
    flex-direction: column;   
    align-items: stretch;
  }

  .input,
  .button {
    width: 100%;              
    max-width: none;
  }
}
